docker/node/node_modules
docker/mysql/**
!docker/mysql/mysql
!docker/mysql/nodedb
!docker/mysql/performance_schema
!docker/mysql/sys
docker/desafio_2/node/node_modules
docker/desafio_2/mysql/**
!docker/desafio_2/mysql/mysql
!docker/desafio_2/mysql/nodedb
!docker/desafio_2/mysql/performance_schema
!docker/desafio_2/mysql/sys


!comunicacao-entre-sistemas/api-tools/data/cache/.gitkeep
comunicacao-entre-sistemas/api-tools/.vagrant/
comunicacao-entre-sistemas/api-tools/phpunit.xml
comunicacao-entre-sistemas/api-tools/vendor/
comunicacao-entre-sistemas/api-tools/config/development.config.php
comunicacao-entre-sistemas/api-tools/data/cache/*
comunicacao-entre-sistemas/api-tools/.phpunit.result.cache
comunicacao-entre-sistemas/api-tools/.phpcs-cache
comunicacao-entre-sistemas/api-tools/.history/
comunicacao-entre-sistemas/api-tools/.composer/
comunicacao-entre-sistemas/api-tools/.bash_history
comunicacao-entre-sistemas/api-tools/test.sqlite
comunicacao-entre-sistemas/api-tools/.idea
comunicacao-entre-sistemas/api-tools/.sqlite_history